<% if is_logged_in %>
  <div class="navbar">
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/home" data-turbo-frame="content">About</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/login" data-turbo-frame="content">Logout</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/characters" data-turbo-frame="content">Characters</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/char_classes" data-turbo-frame="content">Classes</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/char_heritages" data-turbo-frame="content">Heritage</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/equips" data-turbo-frame="content">Equipment</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/spells" data-turbo-frame="content">Spells</a>
    </button>
  </div>
<% else %>
  <div class="navbar">
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/home" data-turbo-frame="content">About</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/login" data-turbo-frame="content">Login</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/char_classes" data-turbo-frame="content">Classes</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/char_heritages" data-turbo-frame="content">Heritage</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/equips" data-turbo-frame="content">Equipment</a>
    </button>
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/spells" data-turbo-frame="content">Spells</a>
    </button>
  </div>
<% end %>
<div class="flex flex-col w-fit">
  <%= turbo_frame_tag "content" do %>
  <% end %>
</div>