<div class="flex flex-col">
  <div class="navbar">
    <button class="btn btn-ghost normal-case text-xl">
      <a href="/home" data-turbo-frame="content">Character Record</a>
    </button>
    <div>
      <details class="dropdown mb-32">
        <summary>
          Menu
        </summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
          <% if is_logged_in %>
            <li><a href="/login" data-turbo-frame="content">Logout</a></li>
            <li><a href="/characters" data-turbo-frame="content">Characters</a></li>
          <% else %>
            <li><a href="/login" data-turbo-frame="content">Login</a></li>
          <% end %>
          <li><a href="/char_classes" data-turbo-frame="content">Classes</a></li>
          <li><a href="/char_heritages" data-turbo-frame="content">Heritages</a></li>
          <li><a href="/equips" data-turbo-frame="content">Equipment</a></li>
          <li><a href="/spells" data-turbo-frame="content">Spells</a><li>
        </ul>
      </details>
    </div>
  </div>
  <div>
    <turbo-frame id="content">
    </turbo-frame>
  </div>
</div>