<%= turbo_frame_tag "login" do %>
  <%= link_to "Login", welcome_index_url, data: { turbo_frame: "_top" }  %>
  <div class="max-w-sm w-full lg:max-w-full lg:flex">
    <div class="border-r border-b border-l border-gray-400 lg:border-r-0 lg:border-t lg:border-gray-400 h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-r-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/tramp_minotaur.jpg')" title="Mighty minotaur">
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <%= form_with do |form| %>
        <%= form.submit "Send recovery email?" %>
      <% end %>
    </div>
  </div>
<% end %>