<div>
  <h1 class="font-bold text-4xl">OSE Character Record</h1>
  <div>
    <%= turbo_frame_tag "login" do %>
      <%= link_to "Login", welcome_login_url %>
    <% end %>
  </div>
  <div>
    <%= turbo_frame_tag "signup" do %>
      <%= link_to "Signup", welcome_signup_url %>
    <% end %>
  </div>
</div>

