<%= turbo_frame_tag "signup" do %>
  <%= link_to "Signup", welcome_index_url %>
  <div class="max-w-sm w-full lg:max-w-full lg:flex">
    <div class="border-r border-b border-l border-gray-400 lg:border-r-0 lg:border-t lg:border-gray-400 h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-r-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/tramp_goblin.jpg')" title="Charging goblin">
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <p class="text-gray-700 text-lg">Username</p>
        <p class="text-gray-700 text-lg">Password</p>
        <p class="text-gray-700 text-lg">Re-enter Password</p>
        <p class="text-gray-700 text-lg">Email</p>

      </div>
    </div>
  </div>
<% end %>