<div class="card lg:card-side bg-zinc-200 shadow-xl ml-6">
  <figure><img
    src='/img/tramp_goblin.jpg'
    alt='Charing goblin'
    class='h-80'
  /></figure>
  <div class="card-body">
    <%= button_to "Logout", {:controller => :sessions, :action => 'destroy' }, :method => :delete %>
  </div>
</div>