<%= turbo_frame_tag "login" do %>
  <div class="card lg:card-side bg-base-100 shadow-xl mt-7">
    <figure><img
      src='/img/tramp_minotaur.jpg'
      alt="Might minotaur"
      class="h-80"
    /></figure>
    <div class="card-body">
      <%= form_with do |form| %>
        <%= form.submit "Send recovery email?" %>
      <% end %>
      <%= link_to "Back to Login", welcome_login_url %>
    </div>
  </div>
<% end %>