<%= turbo_frame_tag "content" do %>
  <% render "shared/navbar" %>
  <div class="card lg:card-side bg-zinc-200 shadow-xl ml-6">
    <figure><img
      src='/img/tramp_minotaur.jpg'
      alt="Mighty minotaur"
      class="h-80"
    /></figure>
    <div class="card-body">
      <% if User.is_logged_in? %>
        <p>Logged in</p>
      <% else %>
        <p>Not logged in</p>
      <% end %>
    </div>
  </div>
<% end %>

